/* 
! Тексттовые свойства
?font+
? font-family+
? font-style+
? font-variant+
? font-size+
? line-height+
? font-weight+

! Шрифтовые свойства
? text-align+
? vertical-align+(особое внимание)
http://htmlbook.ru/css/vertical-align
? letter-spacing+
? word-spasing+
? text-indent+
? text-transform+
? text-decoration+
? text-shadow+
? color+
? @font-face (подключение шрифтов разными способами)+(ocoбое внимание: трансфонтеры, GoogleFonts)
? word-wrap+
? white-space+(особое внимание)

!Блочно-строчная модель документа
? width, max-width, min-width
https://habr.com/ru/post/483634/
http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model
? padding+
? margin(схлопывание)+
http://htmlbook.ru/samlayout/blochnaya-verstka/skhlopyvayushchiesya-otstupy
? overflow+(особое внимание)
? стилизация ссылок+
? img+(особое внимание)
? display: inline-block+(особое внимание)
https://css-live.ru/articles/zagadochnye-otstupy-mezhdu-inlajn-blokami.html
? display: block+
? Валидатор (особое внимание)+
? git и github (особое внимание)+

!Оформление
? outline+
? border (transparent)+
? border-radius+
? opasity+
? visibility+
? box-shadow (filter:drop-shadow)+
* background: color image position size repeat attachment
? background-color+
? background-image+
? background-position+
? background-size
? background-repeat+
? background-attachment
*https://www.youtube.com/playlist?list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr


  !Псевдоклассы
  ? :first-child+
  ? :last-child+
  ? :nth-child()+
  ? :last-of-type+
  ? :first-of-type+

  !Псевдоэлементы
  ? ::first-line+
  ? ::first-letter+
  ? ::before+
  ? ::after+

  !Форматы изображений
  ?webp
  ? <picture>
  ?   <source srcset="img/pic.webp" type="image/webp">
  ?   <img src="img/pic.jpg" alt="pic" with="0" height="0">
  ? </picture>

  !< !-- Б.Э.М. -->

  !< !-- Блок -->
  < !-- НЕЗАВИСИМЫЙ объект. НЕ влияет на окружение (внешние объекты).

  ?Имя класса БЭМ блока: 

  1) Имя должно соответствовать содержанию либо конструкции Отвечать на вопрос "Что это?"
  2) Английский язык (Латиница) 
  3) Нижний регистр 
  4) Если слов несколько,
  разделяем дефисом (-). 
  5) НИКАКОЙ ИЕРАРХИИ ! ! ! 
  
  Мы можем вкладывать сколько угодно БЭМ блоков друг в друга,
  также БЭМ блоки можно вкладывать в БЭМ элементы -->
*/


/*! < !-- Элемент -->
< !-- ЗАВИСИМЫЙ объект от своего БЭМ блока
ВСЕГДА находится внутри своего БЭМ блока 
МОЖЕТ влиять на окружение (внешние объекты) 

/*?Имя класса БЭМ элемента: 

1) Всегда начинается с имени первого родительского БЭМ блока и отделяется двумя нижними подчеркиваниями (__) 
2) Имя должно соответствовать содержанию либо конструкции. Отвечать на вопрос "Что это?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! 

БЭМ элементы можно вкладивать в другие БЭМ элементы своего БЭМ блока --> */


/*! < !-- Модификатор -->
< !-- Позволяет вносить отличия для БЭМ блока либо БЭМ элемента 

/*?Имя класса БЭМ модификатора: 

1) Добавляется как еще один класс для БЭМ блока или БЭМ элемента. Начинается с полного имени БЭМ блока или БЭМ элемента и отделяется одним нижними подчеркиванием (_) 
2) Имя должно соответствовать вносимым модификациям. Отвечать на вопрос "какой? что изменяем?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! --> */

/*! < !-- Микс -->

< !-- Смесь БЭМ блока и БЭМ элемента для одного объекта. 
При этом БЭМ элемент может выступать в роли БЭМ модификатора --> */


/* !Позиционирование
? position: static;
? position: relative;
? position: absolute;
? position: fixed;
? position: sticky;
*/


@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);

/* @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #f5f5f5;
}

.wrapper {
  min-height: 100%;
}

.header {
  
}

.main {
 
}


/* ! --------------main-page------------------ */
.main-page {
  padding: 26px 0 312px 0;
  background: url(../img/main-page/BG\ Image.webp) 0 0/cover no-repeat;
}

.main__main-page {}

.container {
  max-width: 1020px;
}

.container--margin {
  margin: 0 auto;
}

.main-page__header {
  width: 100%;
  height: 128px;
  margin: 0 0 126px 0;
}

.title {
  margin: 0;

  font-weight: 900;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.title__main-page {
  max-width: 583px;
  margin: 0 0 48px 0;
}

.title--size-color {
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;

  color: #FFFFFF;
}

.btn {
  display: inline-block;
  padding: 12px 30px;

  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.15px;
  text-transform: uppercase;

  color: #FFFFFF;
  background: #F2726F;
  border-radius: 5px;
}


/* ! --------------who-we-are------------------ */
.who-we-are {
  max-width: 1020px;
  padding: 100px 0 0 0;
  background: #5D62B5;
  border-radius: 40px;
}

.main__who-we-are {
  position: relative;
  margin: 0 auto;
  margin-top: -80px;
}

.main__who-we-are::before {
  position: absolute;
  top: -110px;
  right: -80px;
  content: "";
  width: 201px;
  height: 317px;
  background: url(../img/who-we-are/Stylize\ Circles.svg) 0 0 no-repeat;
}

.who-we-are__container {
  max-width: 846px;
  margin: 0 auto;
}

.subtitle {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5D62B5;
}

.who-we-are__subtitle {
  position: relative;
  margin: 0 0 33px 0;
  color: #F5F5F5;
}

.who-we-are__subtitle::before {
  content:"";
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0 0 0 16px;
  vertical-align: top;

  background: url(../img/who-we-are/Overline\ Mark.svg) 0 -2px no-repeat;
}

.who-we-are__title {
  margin: 0 0 36px 0;
}

.title--color-white {
  color: #ffffff;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}

.who-we-are__text {
  margin: 0 0 54px 0;
}

.text--color-white {
  color: #F5F5F5;
}

.image {
  z-index: 3;
}

.who-we-are__image {
  position: relative;
}

.image-item {
  margin: 0 0 -120px 0;
  
}

.image-item::before {
  content:"";
  position: absolute;
  top: -425px;
  left: -80px;
  
  width: 665px;
  height: 591px;
  
  background: url(../img/who-we-are/Blob\ 2.png) 0 0 no-repeat;
  z-index: -1;
}


/* ! --------------promise------------------ */
.promise {
  padding: 232px 0px 95px 0px;
}

.promise__main {}

.container {}

.container--margin {}

.subtitle {}

.promise__subtitle {
  margin: 0px 0px 33px 0px;
}

.promise__subtitle::before {
  content:"";
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0 0 0 16px;
  vertical-align: top;
  
  background: url(../img/promise/Overline\ Mark.svg) 0 -2px no-repeat;
}

.title {}

.promise__title {
  margin: 0px 0px 68px 0px;
}

.row {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.row__item:not(:nth-child(3n+3)) {
  margin: 0px 27px 0px 0px;
}

.row__item {
  display: inline-block;
  max-width: 33%;
  margin-bottom: 27px;
  font-size: 0;
}


.row__icon {
  display: inline-block;
  margin: 0px 23px 0px 0px;
  vertical-align: top;
}

.row__body {
  display: inline-block;
  max-width: 235px;
}

.row__title {
  margin: 0px 0px 20px 0px;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #F2726F;
}

.text {
  margin: 0 auto;
}


/* ! --------------nemo------------------ */
.nemo {
  padding: 112px 0px 169px 0px;
  background: url(../img/nemo/tennis-ball.webp) 1250px 120px no-repeat, url(../img/nemo/Line\ 1.png) 750px 0 no-repeat, url(../img/nemo/pup.png) 0 40px no-repeat, url(../img/nemo/Blob\ 3.png) 0 0 no-repeat, url(../img/nemo/Stylize\ Circles.png) 0 120px no-repeat, url(../img/nemo/bg.jpg) 0 0;
}

.main__nemo {
  
}

.container {}

.nemo__container {
  
}


.container--margin {}

.title {}

.nemo__title {
  max-width: 411px;
}

.title--right-wite {
  margin: 0px 0px 42px auto;
  color: #ffffff;
}

.btn {}

.nemo___btn {
  display: block;
  max-width: 210px;
  text-overflow: hidden;
  margin: 0px 200px 0px auto;
}